# 2. MULTIVARIARE K-NEAREST NEIGHBORS
---

## 1. Introducing the Data

In [1]:
import pandas as pd
import numpy as np

file = 'data/dc_airbnb.csv'
cols = ['accommodates', 'bedrooms', 'bathrooms', 'beds', 'price', 
        'minimum_nights', 'maximum_nights', 'number_of_reviews']
dc = pd.read_csv(file)
dc = dc[cols]
dc.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,4,1.0,1.0,2.0,$160.00,1,1125,0
1,6,3.0,3.0,3.0,$350.00,2,30,65
2,1,1.0,2.0,1.0,$50.00,2,1125,1
3,2,1.0,1.0,1.0,$95.00,1,1125,0
4,4,1.0,1.0,1.0,$50.00,7,1125,0

In [2]:
dc.shape

(3723, 8)

In [3]:
dc.dtypes

accommodates           int64
bedrooms             float64
bathrooms            float64
beds                 float64
price                 object
minimum_nights         int64
maximum_nights         int64
number_of_reviews      int64
dtype: object

In [4]:
from sklearn.base import BaseEstimator, TransformerMixin

class PriceCleaner(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self  
    def fit(self, df, y = None):               
        return self
    def transform(self, df):               
        df = df.copy()
        no_comma = df['price'].str.replace(',', '')
        no_dollar = no_comma.str.replace('$', '')
        df['price'] = no_dollar.astype('float')
        return df
    
pricer = PriceCleaner()
dc_clean = pricer.transform(dc)
dc_clean.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,4,1.0,1.0,2.0,160.0,1,1125,0
1,6,3.0,3.0,3.0,350.0,2,30,65
2,1,1.0,2.0,1.0,50.0,2,1125,1
3,2,1.0,1.0,1.0,95.0,1,1125,0
4,4,1.0,1.0,1.0,50.0,7,1125,0

In [11]:
dc_clean.describe()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
count,3723.000000,3702.000000,3696.000000,3712.000000,3723.000000,3723.000000,3.723000e+03,3723.000000
mean,3.195004,1.210157,1.256358,1.643319,149.165995,2.250067,5.803069e+05,15.306742
std,2.012216,0.839851,0.585539,1.182117,140.110699,3.622879,3.519552e+07,29.645586
min,1.000000,0.000000,0.000000,1.000000,10.000000,1.000000,1.000000e+00,0.000000
25%,2.000000,1.000000,1.000000,1.000000,85.000000,1.000000,1.200000e+02,1.000000
50%,2.000000,1.000000,1.000000,1.000000,115.000000,2.000000,1.125000e+03,4.000000
75%,4.000000,1.000000,1.000000,2.000000,165.000000,3.000000,1.125000e+03,16.000000
max,16.000000,10.000000,8.000000,16.000000,2822.000000,180.000000,2.147484e+09,362.000000

## 2. Data Splitting

In [6]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(
    dc, test_size=0.2, random_state=42)

train.shape, test.shape

((2978, 8), (745, 8))

## 3. Price Prediction

In [7]:
dc_listings = pd.read_csv("data/dc_airbnb.csv")
stripped_commas = dc_listings['price'].str.replace(',', '')
stripped_dollars = stripped_commas.str.replace('$', '')
dc_listings['price'] = stripped_dollars.astype('float')
train_df = dc_listings.iloc[0:2792]
test_df = dc_listings.iloc[2792:]

def predict_price(new_listing):
    temp_df = train_df.copy()
    temp_df['distance'] = temp_df['accommodates'].apply(lambda x: np.abs(x - new_listing))
    temp_df = temp_df.sort_values('distance')
    nearest_neighbor_prices = temp_df.iloc[0:5]['price']
    predicted_price = nearest_neighbor_prices.mean()
    return(predicted_price)

test_df['predicted_price'] = test_df['accommodates'].apply(predict_price)
test_df['predicted_price']

C:\Users\Innocent\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

2792    104.0
2793    177.4
2794    145.8
2795    177.4
2796    187.2
        ...
3718    145.8
3719    104.0
3720    187.2
3721    104.0
3722    177.4
Name: predicted_price, Length: 931, dtype: float64

In [8]:
np.arange(1,17)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [9]:
class PricePredictor_(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self 
    def fit(self, df, y = None):                
        return self
    def transform(self, df):        
        df_copy = df.copy()
        n_acc = np.arange(1,17)        
        for n in n_acc:
            df_copy['euclid'] = df_copy['accommodates'].apply(
                lambda x: np.abs(x - n))
            df_copy = df_copy.sort_values('euclid')
            KNN_5 = df_copy.iloc[0:5]['price']
            m = KNN_5.mean()        
        return m

In [10]:
pricer = PricePredictor_()
test['predicted_price'] = pricer.transform(test)
test

TypeError: Could not convert $150.00$132.00$65.00$300.00$95.00 to numeric