# 8. AMES HOUSING: FEATURE ENGINEERING
---

## 1. Introduction
Let's start by filtering the training set to just the columns containing no missing values.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

ames = pd.read_csv('data/Ames_Housing.txt', delimiter="\t")
train = ames[0:1460]
test = ames[1460:]

train_null_counts = train.isnull().sum()
df_no_null = train[train_null_counts[train_null_counts==0].index]
df_no_null.isnull().sum()

Order              0
PID                0
MS SubClass        0
MS Zoning          0
Lot Area           0
Street             0
Lot Shape          0
Land Contour       0
Utilities          0
Lot Config         0
Land Slope         0
Neighborhood       0
Condition 1        0
Condition 2        0
Bldg Type          0
House Style        0
Overall Qual       0
Overall Cond       0
Year Built         0
Year Remod/Add     0
Roof Style         0
Roof Matl          0
Exterior 1st       0
Exterior 2nd       0
Exter Qual         0
Exter Cond         0
Foundation         0
Heating            0
Heating QC         0
Central Air        0
Electrical         0
1st Flr SF         0
2nd Flr SF         0
Low Qual Fin SF    0
Gr Liv Area        0
Full Bath          0
Half Bath          0
Bedroom AbvGr      0
Kitchen AbvGr      0
Kitchen Qual       0
TotRms AbvGrd      0
Functional         0
Fireplaces         0
Garage Cars        0
Garage Area        0
Paved Drive        0
Wood Deck SF       0
Open Porch SF      0
Enclosed Porch     0
3Ssn Porch         0
Screen Porch       0
Pool Area          0
Misc Val           0
Mo Sold            0
Yr Sold            0
Sale Type          0
Sale Condition     0
SalePrice          0
dtype: int64

In [2]:
df_no_null.dtypes.value_counts()

object     28
int64      28
float64     2
dtype: int64

## 2. Categorical Features
Let's convert all of the text columns that contain no missing values into the categorical data type.

In [3]:
text_cols = df_no_null.select_dtypes(include=['object']).columns
print(len(text_cols))
text_cols

28

Index(['MS Zoning', 'Street', 'Lot Shape', 'Land Contour', 'Utilities',
       'Lot Config', 'Land Slope', 'Neighborhood', 'Condition 1',
       'Condition 2', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Matl',
       'Exterior 1st', 'Exterior 2nd', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Heating', 'Heating QC', 'Central Air', 'Electrical',
       'Kitchen Qual', 'Functional', 'Paved Drive', 'Sale Type',
       'Sale Condition'],
      dtype='object')

In [4]:
for col in text_cols:
    print(col+":", len(train[col].unique()))

MS Zoning: 6
Street: 2
Lot Shape: 4
Land Contour: 4
Utilities: 3
Lot Config: 5
Land Slope: 3
Neighborhood: 26
Condition 1: 9
Condition 2: 6
Bldg Type: 5
House Style: 8
Roof Style: 6
Roof Matl: 5
Exterior 1st: 14
Exterior 2nd: 16
Exter Qual: 4
Exter Cond: 5
Foundation: 6
Heating: 6
Heating QC: 4
Central Air: 2
Electrical: 4
Kitchen Qual: 5
Functional: 7
Paved Drive: 3
Sale Type: 9
Sale Condition: 5

In [5]:
for col in text_cols:
    train = train.copy()
    train[col] = train[col].astype('category')
    
train['Utilities'].cat.codes.value_counts()

0    1457
2       2
1       1
dtype: int64

In [6]:
train['Utilities'].value_counts()

AllPub    1457
NoSewr       2
NoSeWa       1
Name: Utilities, dtype: int64

In [7]:
train[text_cols].dtypes

MS Zoning         category
Street            category
Lot Shape         category
Land Contour      category
Utilities         category
Lot Config        category
Land Slope        category
Neighborhood      category
Condition 1       category
Condition 2       category
Bldg Type         category
House Style       category
Roof Style        category
Roof Matl         category
Exterior 1st      category
Exterior 2nd      category
Exter Qual        category
Exter Cond        category
Foundation        category
Heating           category
Heating QC        category
Central Air       category
Electrical        category
Kitchen Qual      category
Functional        category
Paved Drive       category
Sale Type         category
Sale Condition    category
dtype: object

## 3. Dummy Coding

In [8]:
dummy_cols = pd.DataFrame()
for col in text_cols:
    train = train.copy()
    col_dummies = pd.get_dummies(train[col])
    train = pd.concat([train, col_dummies], axis=1)
    del train[col]
    
train.head()

,Order,PID,MS SubClass,Lot Frontage,Lot Area,Alley,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Type,Mas Vnr Area,Bsmt Qual,Bsmt Cond,Bsmt Exposure,BsmtFin Type 1,BsmtFin SF 1,BsmtFin Type 2,BsmtFin SF 2,Bsmt Unf SF,Total Bsmt SF,1st Flr SF,2nd Flr SF,Low Qual Fin SF,Gr Liv Area,Bsmt Full Bath,Bsmt Half Bath,Full Bath,Half Bath,Bedroom AbvGr,Kitchen AbvGr,TotRms AbvGrd,Fireplaces,Fireplace Qu,Garage Type,Garage Yr Blt,Garage Finish,Garage Cars,Garage Area,Garage Qual,Garage Cond,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,...,PConc,Slab,Stone,Wood,Floor,GasA,GasW,Grav,OthW,Wall,Ex,Fa,Gd,TA,N,Y,FuseA,FuseF,FuseP,SBrkr,Ex,Fa,Gd,Po,TA,Maj1,Maj2,Min1,Min2,Mod,Sev,Typ,N,P,Y,COD,CWD,Con,ConLD,ConLI,ConLw,New,Oth,WD,Abnorml,Alloca,Family,Normal,Partial
0,1,526301100,20,141.0,31770,NaN,6,5,1960,1960,Stone,112.0,TA,Gd,Gd,BLQ,639.0,Unf,0.0,441.0,1080.0,1656,0,0,1656,1.0,0.0,1,0,3,1,7,2,Gd,Attchd,1960.0,Fin,2.0,528.0,TA,TA,210,62,0,0,0,0,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
1,2,526350040,20,80.0,11622,NaN,5,6,1961,1961,None,0.0,TA,TA,No,Rec,468.0,LwQ,144.0,270.0,882.0,896,0,0,896,0.0,0.0,1,0,2,1,5,0,NaN,Attchd,1961.0,Unf,1.0,730.0,TA,TA,140,0,0,0,120,0,NaN,MnPrv,...,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
2,3,526351010,20,81.0,14267,NaN,6,6,1958,1958,BrkFace,108.0,TA,TA,No,ALQ,923.0,Unf,0.0,406.0,1329.0,1329,0,0,1329,0.0,0.0,1,1,3,1,6,0,NaN,Attchd,1958.0,Unf,1.0,312.0,TA,TA,393,36,0,0,0,0,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
3,4,526353030,20,93.0,11160,NaN,7,5,1968,1968,None,0.0,TA,TA,No,ALQ,1065.0,Unf,0.0,1045.0,2110.0,2110,0,0,2110,1.0,0.0,2,1,3,1,8,2,TA,Attchd,1968.0,Fin,2.0,522.0,TA,TA,0,0,0,0,0,0,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,5,527105010,60,74.0,13830,NaN,5,5,1997,1998,None,0.0,Gd,TA,No,GLQ,791.0,Unf,0.0,137.0,928.0,928,701,0,1629,0.0,0.0,2,1,3,1,6,1,TA,Attchd,1997.0,Fin,2.0,482.0,TA,TA,212,34,0,0,0,0,NaN,MnPrv,...,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,1,0

## 4. Transforming Improper Numerical Features
Let's create a new column `years_until_remod` in the train data frame that represents the difference between `Year Remod/Add` (the later value) and `Year Built` (the earlier value).

In [12]:
train['years_until_remod'] = train['Year Remod/Add'] - train['Year Built']
train['years_until_remod'].value_counts().head(10)

0     773
1     213
40     20
30     20
10     16
35     16
2      14
11     12
25     11
50      9
Name: years_until_remod, dtype: int64

## 5. Missing Values
We'll focus on columns that contain at least 1 missing value but less than 365 missing values (or 25% of the number of rows in the training set). There's no strict threshold, and many people instead use a 50% cutoff (if half the values in a column are missing, it's automatically dropped). Having some domain knowledge can help with determining an acceptable cutoff value.

In [14]:
df_missing_values = train[train_null_counts[
    (train_null_counts>0) & (train_null_counts<584)].index
                         ]
print(df_missing_values.isnull().sum())

Lot Frontage      249
Mas Vnr Type       11
Mas Vnr Area       11
Bsmt Qual          40
Bsmt Cond          40
Bsmt Exposure      41
BsmtFin Type 1     40
BsmtFin SF 1        1
BsmtFin Type 2     41
BsmtFin SF 2        1
Bsmt Unf SF         1
Total Bsmt SF       1
Bsmt Full Bath      1
Bsmt Half Bath      1
Garage Type        74
Garage Yr Blt      75
Garage Finish      75
Garage Qual        75
Garage Cond        75
dtype: int64

In [ ]:
print(df_missing_values.dtypes)