# 14. AUTO DATA: OVERFITTING
---

## 1. Introducing the Data

In [11]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 99)
pd.set_option("display.max_rows", 999)
pd.set_option('precision', 3)

cols = ["mpg", "cylinders", "displacement", "horsepower", "weight", 
        "acceleration", "model year", "origin", "car name"]
cars = pd.read_csv('data/auto_mpg.data',
                    delim_whitespace=True,
                    names=cols)
print(cars.shape)
cars.head()

(398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino