# 2. MULTIVARIARE K-NEAREST NEIGHBORS
---

## 1. Introducing the Data

In [1]:
import pandas as pd
import numpy as np

file = 'data/dc_airbnb.csv'
cols = ['accommodates', 'bedrooms', 'bathrooms', 'beds', 'price', 
        'minimum_nights', 'maximum_nights', 'number_of_reviews']
dc = pd.read_csv(file)
dc = dc[cols]
dc.head()

,accommodates,bedrooms,bathrooms,beds,price,minimum_nights,maximum_nights,number_of_reviews
0,4,1.0,1.0,2.0,$160.00,1,1125,0
1,6,3.0,3.0,3.0,$350.00,2,30,65
2,1,1.0,2.0,1.0,$50.00,2,1125,1
3,2,1.0,1.0,1.0,$95.00,1,1125,0
4,4,1.0,1.0,1.0,$50.00,7,1125,0

In [2]:
dc.shape

(3723, 8)

In [3]:
dc.describe()

,accommodates,bedrooms,bathrooms,beds,minimum_nights,maximum_nights,number_of_reviews
count,3723.000000,3702.000000,3696.000000,3712.000000,3723.000000,3.723000e+03,3723.000000
mean,3.195004,1.210157,1.256358,1.643319,2.250067,5.803069e+05,15.306742
std,2.012216,0.839851,0.585539,1.182117,3.622879,3.519552e+07,29.645586
min,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000e+00,0.000000
25%,2.000000,1.000000,1.000000,1.000000,1.000000,1.200000e+02,1.000000
50%,2.000000,1.000000,1.000000,1.000000,2.000000,1.125000e+03,4.000000
75%,4.000000,1.000000,1.000000,2.000000,3.000000,1.125000e+03,16.000000
max,16.000000,10.000000,8.000000,16.000000,180.000000,2.147484e+09,362.000000

In [4]:
dc.dtypes

accommodates           int64
bedrooms             float64
bathrooms            float64
beds                 float64
price                 object
minimum_nights         int64
maximum_nights         int64
number_of_reviews      int64
dtype: object

## 2. Train-Test Splitting

In [17]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(dc, test_size=0.2, random_state=42)
train.shape, test.shape

X_train = train.drop('price', axis=1)
y_train = train['price']

X_test = test.drop('price', axis=1)
y_test = test['price']

X_train.shape, y_train.shape, X_test.shape, y_test.shape

((2978, 7), (2978,), (745, 7), (745,))

## 3. Cleaning Price Column

In [10]:
from sklearn.base import BaseEstimator, TransformerMixin

class PriceCleaner(BaseEstimator, TransformerMixin):    
    def __init__(self):
        self  
    def fit(self, df, y = None):               
        return self
    def transform(self, df):               
        df = df.copy()
        no_comma = df.str.replace(',', '')
        no_dollar = no_comma.str.replace('$', '')
        df = no_dollar.astype('float')
        return df
    
pricer = PriceCleaner()
y_train = pricer.transform(y_train)
y_test = pricer.transform(y_test)

In [12]:
y_train.head()

2069    100.0
3257     55.0
1789    130.0
3333     95.0
2066     85.0
Name: price, dtype: float64

In [13]:
y_test.head()

2196    129.0
209     295.0
3368    140.0
2771    217.0
1588    150.0
Name: price, dtype: float64

In [14]:
y_train.dtypes, y_test.dtypes

(dtype('float64'), dtype('float64'))

## 4. Imputing Missing Data

In [18]:
X_train.isnull().mean().sort_values(ascending=True)

accommodates         0.000000
minimum_nights       0.000000
maximum_nights       0.000000
number_of_reviews    0.000000
beds                 0.003022
bedrooms             0.007052
bathrooms            0.007052
dtype: float64

In [20]:
from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy='median')
imputer.fit(X_train)
X_train_imputed = imputer.transform(X_train)
pd.DataFrame(X_train_imputed).isnull().mean()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
dtype: float64

## 5. Data Standardization

In [22]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_train_scaled = pd.DataFrame(X_train_scaled)
X_cols = ['accommodates', 'bedrooms', 'bathrooms', 'beds',
          'minimum_nights', 'maximum_nights', 'number_of_reviews']
X_train_scaled.columns = X_cols
X_train_scaled.head()

,accommodates,bedrooms,bathrooms,beds,minimum_nights,maximum_nights,number_of_reviews
0,0.392503,-0.249075,-0.436195,0.313088,-0.073419,-0.016635,-0.018695
1,0.392503,-0.249075,-0.436195,-0.552628,-0.325020,-0.016635,0.150325
2,-0.593473,-0.249075,-0.436195,-0.552628,-0.325020,-0.016635,-0.221520
3,0.885491,0.943443,1.274127,1.178805,0.178182,-0.018791,0.116521
4,1.378479,0.943443,-0.436195,0.313088,-0.073419,-0.022584,-0.018695

In [23]:
scaler.mean_

array([3.20382807e+00, 1.20886501e+00, 1.25503694e+00, 1.63834788e+00,
       2.29180658e+00, 4.17269879e+03, 1.55530557e+01])

In [24]:
scaler.scale_

array([2.02844748e+00, 8.38561475e-01, 5.84685184e-01, 1.15511254e+00,
       3.97454206e+00, 1.83211282e+05, 2.95822953e+01])

In [25]:
scaler.n_samples_seen_

2978

In [27]:
X_train_scaled.describe()

,accommodates,bedrooms,bathrooms,beds,minimum_nights,maximum_nights,number_of_reviews
count,2.978000e+03,2.978000e+03,2.978000e+03,2.978000e+03,2.978000e+03,2.978000e+03,2.978000e+03
mean,9.081609e-17,-4.332032e-17,1.521431e-16,9.357488e-17,2.654768e-16,-4.012605e-16,-4.615366e-17
std,1.000168e+00,1.000168e+00,1.000168e+00,1.000168e+00,1.000168e+00,1.000168e+00,1.000168e+00
min,-1.086461e+00,-1.441594e+00,-2.146517e+00,-5.526283e-01,-3.250202e-01,-2.276988e-02,-5.257555e-01
25%,-5.934726e-01,-2.490754e-01,-4.361953e-01,-5.526283e-01,-3.250202e-01,-2.212036e-02,-4.919515e-01
50%,-5.934726e-01,-2.490754e-01,-4.361953e-01,-5.526283e-01,-7.341892e-02,-1.663489e-02,-3.905395e-01
75%,3.925031e-01,-2.490754e-01,-4.361953e-01,3.130882e-01,1.781824e-01,-1.663489e-02,4.891251e-02
max,6.308358e+00,1.048359e+01,1.153606e+01,1.243312e+01,4.471161e+01,5.455901e+01,1.090000e+01

## 6. Training KNN on All Features

In [35]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

knn = KNeighborsRegressor(algorithm='brute')
knn.fit(X_train_scaled, y_train)

X_test_imputed = imputer.transform(X_test)
X_test_scaled = scaler.transform(X_test_imputed)

y_pred = knn.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print('MSE_test:', mse)
print('RMSE_test:', rmse)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [30]:
knn.fit(X_train_scaled, y_train)
y_pred = knn.predict(X_train_scaled)
mse = mean_squared_error(y_train, y_pred)
rmse = np.sqrt(mse)
print('MSE_train:', mse)
print('RMSE_train:', rmse)

NameError: name 'y_pred' is not defined

In [ ]:
X_test.shape